h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

html,
body,
h1,
h2,
h3,
h4,
h5,
p,
div,
ul {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif; }

.header {
  position: relative;
  background-color: #008aff;
  height: 800px;
  color: white;
  border-radius: 0 0 0 200px;
  padding: 0 30px;
  /*&__mobile-menu {
    position: absolute;
    width: 0;
    transition: width 1s;
  }*/ }
  .header__logo {
    margin-right: 80px; }
  .header__top {
    padding-top: 49px;
    left: 30px;
    right: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase; }
  .header__action {
    position: relative; }
  .header__link {
    color: white;
    text-decoration: none;
    letter-spacing: 3px; }
    .header__link::after {
      content: "";
      background: #ff9c8e;
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: -8px;
      left: 0;
      right: 0;
      opacity: 0;
      border-radius: 4px;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s; }
    .header__link:hover.header__link::after {
      opacity: 1; }
  .header__title {
    position: absolute;
    top: 240px;
    color: white;
    max-width: 362px; }
  .header__head {
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    margin-bottom: 32px; }
  .header__text {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 83px; }
  .header__slider {
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url(../images/slider/1.jpg);
    border-radius: 200px 20px 20px;
    width: 687px;
    height: 680px;
    margin: 0; }
    .header__slider-arrow {
      display: inline-block;
      position: absolute;
      left: 48px;
      bottom: 66px;
      background-position: center;
      background-repeat: no-repeat;
      width: 32px;
      height: 32px;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
      .header__slider-arrow:hover {
        background-color: #ff9c8e;
        -webkit-box-shadow: 0 0 8px rgba(44, 44, 44, 0.5);
                box-shadow: 0 0 8px rgba(44, 44, 44, 0.5); }
    .header__slider-left {
      background-image: url(../images/slider/1.svg); }
    .header__slider-right {
      background-image: url(../images/slider/2.svg);
      left: 88px; }
    .header__slider-title {
      position: absolute;
      left: 144px;
      bottom: 96px;
      font-weight: bold;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 3px;
      text-transform: uppercase; }
    .header__slider-text {
      position: absolute;
      left: 144px;
      bottom: 48px;
      font-family: "Open Sans", sans-serif;
      font-size: 14px; }
  .header__toggler {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    padding: 0; }
    .header__toggler-item {
      background-color: #fff;
      border-radius: 20px;
      width: 100%;
      height: 5px;
      margin-bottom: 5px; }
  .header__menu {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 32px;
    height: 32px;
    top: 40px;
    cursor: pointer; }

@media screen and (min-width: 1600px) {
  .header__slider {
    right: calc(50vw - 687px); } }

@media screen and (max-width: 1300px) {
  .header {
    height: 700px; }
  .header__title {
    top: 180px; }
  .header__slider {
    width: 50%;
    height: 580px; } }

@media screen and (max-width: 1000px) {
  .header__nav {
    display: none; }
  .header__logo {
    margin-left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%); }
  .header__slider {
    display: none; }
  .header__title {
    position: static;
    margin: 100px auto 0;
    text-align: center; }
  .header__toggler {
    display: block; } }

.logo {
  background-image: url(../images/logo/air-logo.svg);
  width: 45px;
  height: 26px; }

.nav {
  font-weight: bold;
  font-size: 13px;
  line-height: 150%;
  position: absolute;
  left: 123px;
  letter-spacing: 3px;
  text-transform: uppercase; }
  .nav__item {
    list-style: none;
    margin-right: 64px;
    display: inline-block;
    position: relative; }
  .nav--footer {
    position: static;
    margin: 0 auto; }
    .nav--footer .nav__item:last-child {
      margin-right: 0; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav__link {
    color: white;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .nav__link::after {
      content: "";
      background: #ff9c8e;
      height: 2px;
      position: absolute;
      bottom: -8px;
      width: 100%;
      opacity: 0;
      left: 0;
      right: 0;
      border-radius: 4px;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s; }
    .nav__link:hover.nav__link::after {
      opacity: 1; }

.button {
  background: #ff9c8e;
  border: none;
  border-radius: 64px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  width: 226px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .button:hover {
    background: #ff7e6c;
    -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
            box-shadow: 0 0 11px rgba(33, 33, 33, 0.2); }
  .button--white:hover {
    color: #ff7e6c;
    background: white;
    border: 1px solid #ff7e6c;
    -webkit-box-shadow: none;
            box-shadow: none; }

.about {
  max-width: 754px;
  margin: 0 auto;
  padding: 148px 0; }
  .about__title {
    font-weight: 600;
    font-size: 32px;
    color: #253757;
    margin-bottom: 16px; }
  .about__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #6c788b; }

.expertise {
  padding: 128px 0 134px; }
  .expertise__cards {
    display: grid;
    grid-template-columns: repeat(3, 264px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center; }
  .expertise__heading {
    text-align: center;
    font-weight: 600;
    font-size: 52px;
    color: #253757;
    margin-bottom: 64px; }
  .expertise__img {
    width: 184px;
    height: 166px;
    border-radius: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .expertise__card:hover .expertise__img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .expertise__photo {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 184px;
    border-radius: 20px;
    height: 166px;
    overflow: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .expertise__photo:hover {
      -webkit-box-shadow: 0 0 11px rgba(44, 44, 44, 0.8);
              box-shadow: 0 0 11px rgba(44, 44, 44, 0.8); }
  .expertise__title {
    font-weight: 600;
    font-size: 20px;
    color: #253757;
    margin-bottom: 16px; }
  .expertise__text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #6c788b; }

@media screen and (max-width: 870px) {
  .expertise__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .expertise__card {
    width: 264px;
    margin-bottom: 50px; } }

@media screen and (max-width: 650px) {
  .expertise__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.section {
  position: relative;
  padding: 0 30px;
  overflow: hidden; }
  .section--expertise, .section--vision {
    background-color: white; }
  .section--aproach {
    position: relative;
    margin-top: -266px;
    z-index: -1;
    padding: 0; }
    .section--aproach::after {
      content: "";
      position: absolute;
      background: #ff9c8e;
      top: 0;
      bottom: 0;
      right: 0;
      left: 50%;
      z-index: -1; }

.process {
  padding: 148px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .process__description {
    width: 362px; }
  .process__subtitle {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
    margin-bottom: 16px; }
  .process__title {
    font-weight: 600;
    font-size: 32px;
    color: #253757;
    margin-bottom: 24px; }
    .process__title-italic {
      font-style: italic; }
  .process__text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #6c788b;
    margin-bottom: 16px; }
  .process__cards {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    z-index: 1; }
    .process__cards-wrapper--below {
      margin-top: 132px; }

@media screen and (max-width: 1000px) {
  .process {
    grid-template-columns: 1fr;
    margin-bottom: 148px;
    padding-bottom: -148px;
    padding-top: 100px; }
  .process__cards {
    display: grid;
    grid-template-columns: repeat(2, 264px);
    grid-gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .process__description {
    width: 100%;
    text-align: center;
    padding-bottom: 50px; }
  .process__cards-wrapper--below {
    margin-top: 0; } }

@media screen and (max-width: 620px) {
  .process__cards {
    display: grid;
    grid-template-columns: 264px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.card {
  background: white;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;
  width: 264px;
  height: 264px;
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 30px;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s; }
  .card__number {
    width: 46px;
    height: 24px;
    color: #56ccf2;
    background-color: #56ccf21a;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 24px;
    border-radius: 23px; }
    .card__number--yellow {
      color: #fcc91d;
      background-color: rgba(252, 201, 29, 0.1); }
    .card__number--green {
      color: #15d850;
      background-color: rgba(21, 216, 80, 0.1); }
    .card__number--red {
      color: #f36363;
      background-color: rgba(243, 99, 99, 0.1); }
  .card__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #6c788b;
    margin-bottom: 32px; }
  .card__button {
    background-image: url(../images/process/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #56ccf2;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
    .card__button--yellow {
      background-color: #fcc91d; }
      .card__button--yellow:hover {
        -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
                box-shadow: 0 0 11px rgba(33, 33, 33, 0.2); }
    .card__button--green {
      background-color: #15d850; }
    .card__button--red {
      background-color: #f36363; }
    .card__button-wrapper {
      position: relative;
      height: 48px; }
    .card__button-text {
      color: black;
      position: absolute;
      left: 64px;
      top: 10px;
      display: block;
      font-weight: 600;
      font-size: 15px;
      text-decoration: none;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
      .card__button-text:hover {
        color: #6c788b; }
  .card:hover {
    -webkit-box-shadow: 0 0 11px rgba(44, 44, 44, 0.5);
            box-shadow: 0 0 11px rgba(44, 44, 44, 0.5); }
    .card:hover .card__button {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }

.aproach {
  color: white;
  max-width: 362px; }
  .aproach__subtitle {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 16px; }
  .aproach__title {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px; }
  .aproach__photo {
    position: absolute;
    bottom: 0;
    right: -100px;
    background-image: url(../images/aproach/photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 687px;
    height: 680px;
    border-radius: 200px 20px 20px; }
  .aproach__text {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin-left: 98px; }
  .aproach__item {
    max-height: 64px;
    margin-bottom: 64px;
    position: relative; }
  .aproach__icon {
    position: absolute;
    display: inline-block;
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
    .aproach__icon--first {
      background-image: url(../images/aproach/1.svg); }
    .aproach__icon--second {
      background-image: url(../images/aproach/2.svg); }
    .aproach__icon--third {
      background-image: url(../images/aproach/3.svg); }

@media screen and (max-width: 900px) {
  .aproach {
    margin: 0 auto;
    padding: -150px 40px 30px;
    min-height: 1000px; }
  .aproach__photo {
    display: block;
    border-radius: 200px 20px 0 40px;
    width: 100%;
    height: 480px;
    right: 0; } }

@media screen and (max-width: 1200px) {
  .aproach__photo {
    width: 557px;
    height: 550px;
    bottom: 0; } }

@media screen and (max-width: 700px) {
  .aproach__photo {
    width: 100%;
    height: 400px;
    margin: 0;
    border-radius: 20px 20px 0 100px; } }

@media screen and (max-width: 500px) {
  .aproach {
    margin: 0;
    min-height: 1100px; }
  .aproach__item {
    margin-bottom: 100px; } }

.testimonials {
  padding: 148px 0; }
  .testimonials__subtitle {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 16px;
    color: #c0cdd7;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .testimonials__title {
    font-weight: 600;
    font-size: 32px;
    color: #253757;
    margin-bottom: 85px; }
  .testimonials__people {
    display: grid;
    grid-template-columns: repeat(3, 314px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 7%; }

@media screen and (max-width: 1207px) {
  .testimonials__people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .testimonials__person {
    max-width: 314px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 30px;
    margin-bottom: 30px; }
    .testimonials__person:nth-last-child {
      margin-right: 0; } }

@media screen and (max-width: 410px) {
  .testimonials__person {
    width: 310px;
    margin-right: -30px;
    margin-left: -30px; } }

.person {
  position: relative;
  text-align: center;
  background: white;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;
  padding: 32px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer; }
  .person:hover {
    -webkit-box-shadow: 0 0 11px rgba(44, 44, 44, 0.5);
            box-shadow: 0 0 11px rgba(44, 44, 44, 0.5); }
  .person__proffesion {
    font-weight: bold;
    color: #c0cdd7;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 4px;
    text-transform: uppercase; }
  .person__rectangle {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
    border-radius: 500px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    width: 139px;
    height: 56px;
    top: 50px;
    left: 10px;
    position: absolute;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .person__rectangle--down {
      top: 130px;
      left: 110px; }
    .person__rectangle--yellow {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304; }
    .person__rectangle--red {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656; }
  .person:hover .person__rectangle {
    top: 30px; }
  .person:hover .person__rectangle--down {
    top: 160px; }
  .person__img {
    position: relative;
    border-radius: 50%;
    margin-top: 55px;
    margin-bottom: 111px;
    z-index: 1; }
  .person__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    margin-top: 1px;
    color: #6c788b; }
    .person__text--blue::before {
      content: url(../images/testimonials/quotes.svg);
      position: absolute;
      top: 310px;
      left: 50%;
      -webkit-transform: translate(-50%);
              transform: translate(-50%);
      width: 21px;
      height: 19px; }
    .person__text--yellow::before {
      content: url(../images/testimonials/yellow_quotes.svg);
      position: absolute;
      top: 310px;
      left: 50%;
      -webkit-transform: translate(-50%);
              transform: translate(-50%);
      width: 21px;
      height: 19px; }
    .person__text--red::before {
      content: url(../images/testimonials/red_quotes.svg);
      position: absolute;
      top: 310px;
      left: 50%;
      -webkit-transform: translate(-50%);
              transform: translate(-50%);
      width: 21px;
      height: 19px; }
  .person__name {
    font-family: "Open Sans", sans-serif;
    margin-top: 16px;
    font-weight: 600;
    font-size: 13px;
    color: #253757; }
  .person__photo {
    position: relative; }

.vision {
  padding: 199px 0;
  max-width: 754px;
  min-width: 300px;
  margin: 0 auto;
  text-align: center; }
  .vision__title {
    font-weight: 600;
    font-size: 52px;
    color: #253757;
    margin-bottom: 24px; }
  .vision__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #6c788b;
    margin-bottom: 64px; }

.footer {
  position: relative;
  background-color: #008aff;
  border-radius: 0 200px 0 0;
  padding: 180px 30px 84px;
  color: white; }
  .footer:after {
    content: "";
    position: absolute;
    background-color: #fff;
    right: 0;
    top: 0;
    left: -50%;
    height: 100%;
    z-index: -1; }
  .footer__information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 226px;
    margin-bottom: 121px; }
  .footer__nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

@media screen and (max-width: 900px) {
  .footer__logo {
    position: absolute;
    bottom: 100px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%); } }

@media screen and (max-width: 750px) {
  .footer__information {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
    grid-gap: 50px; }
  .footer__form-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .footer__nav-wrapper {
    display: none; } }

.form__title {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 56px; }

.form__input {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: white;
  opacity: 0.7;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  margin-bottom: 48px;
  padding-bottom: 16px; }
  .form__input:focus {
    opacity: 1;
    outline: none; }
  .form__input:last-of-type {
    margin-bottom: 80px; }
  .form__input::-webkit-input-placeholder {
    color: white; }
  .form__input::-moz-placeholder {
    color: white; }
  .form__input:-ms-input-placeholder {
    color: white; }
  .form__input::-ms-input-placeholder {
    color: white; }
  .form__input::placeholder {
    color: white; }

@media screen and (max-width: 950px) {
  .form__button {
    width: 100%; } }

.contact__title {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 56px; }

.contact__number, .contact__adress, .contact__icons {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px; }

.contact__number {
  display: inline;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .contact__number:hover {
    opacity: 0.5; }

.contact__phone, .contact__location, .contact__socials {
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 8px;
  opacity: 0.5; }

.contact__item {
  margin-bottom: 48px; }

.contact__icon {
  margin-right: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .contact__icon:hover {
    opacity: 0.5; }

.contact__link {
  text-decoration: none; }

.item__small-blue {
  width: 67px;
  height: 26px;
  left: 5%;
  top: 370px;
  border: 5px solid #56ccf2;
  position: absolute;
  opacity: 0.5;
  border-radius: 500px;
  -webkit-transform: rotate(-65.1deg);
          transform: rotate(-65.1deg); }
  @media screen and (max-width: 676px) {
    .item__small-blue {
      top: 290px; } }

.item__blue-big {
  width: 153px;
  height: 60px;
  right: 9%;
  top: 413px;
  border: 5px solid #56ccf2;
  position: absolute;
  opacity: 0.5;
  border-radius: 500px;
  -webkit-transform: rotate(-65.1deg);
          transform: rotate(-65.1deg); }
  @media screen and (max-width: 676px) {
    .item__blue-big {
      top: 600px;
      right: -2%; } }

.item__purple {
  width: 93.54px;
  height: 36px;
  left: 8%;
  top: 519px;
  border: 5px solid #bc04fc;
  position: absolute;
  opacity: 0.5;
  border-radius: 500px;
  -webkit-transform: rotate(-65.1deg);
          transform: rotate(-65.1deg); }

.item__purple-small-fat {
  width: 53.69px;
  height: 21.22px;
  right: 7%;
  top: 110px;
  border: 5px solid #bc04fc;
  position: absolute;
  opacity: 0.5;
  border-radius: 500px;
  -webkit-transform: rotate(-65.1deg);
          transform: rotate(-65.1deg); }

.item__orange {
  width: 85.61px;
  height: 33.84px;
  left: 15%;
  top: 72px;
  border: 2px solid #ff9c8e;
  position: absolute;
  opacity: 0.5;
  border-radius: 500px;
  -webkit-transform: rotate(-65.1deg);
          transform: rotate(-65.1deg); }

.item__orange-other-side {
  width: 85.61px;
  height: 33.84px;
  top: 385px;
  right: 20%;
  border: 2px solid #ff9c8e;
  position: absolute;
  opacity: 0.5;
  border-radius: 500px;
  -webkit-transform: rotate(-65.1deg);
          transform: rotate(-65.1deg); }
  @media screen and (max-width: 900px) {
    .item__orange-other-side {
      border: none; } }

.item__green {
  width: 143px;
  height: 56px;
  left: 16%;
  top: 283px;
  border: 5px solid #03d542;
  position: absolute;
  opacity: 0.5;
  border-radius: 500px;
  -webkit-transform: rotate(-65.1deg);
          transform: rotate(-65.1deg); }
  @media screen and (max-width: 1300px) {
    .item__green {
      border: none; } }

.item__yellow-small {
  width: 45.28px;
  height: 17.9px;
  left: 28%;
  top: 77px;
  border: 2px solid #fcc304;
  position: absolute;
  opacity: 0.5;
  border-radius: 500px;
  -webkit-transform: rotate(-65.1deg);
          transform: rotate(-65.1deg); }

.item__yellow-small-fat {
  width: 45.28px;
  height: 17.9px;
  left: 30%;
  top: 465px;
  border: 5px solid #fcc304;
  position: absolute;
  opacity: 0.5;
  border-radius: 500px;
  -webkit-transform: rotate(-65.1deg);
          transform: rotate(-65.1deg); }
  @media screen and (max-width: 900px) {
    .item__yellow-small-fat {
      top: 620px; } }

.item__yellow-big {
  width: 86px;
  height: 34px;
  right: 4%;
  top: 268px;
  border: 2px solid #fcc304;
  position: absolute;
  opacity: 0.5;
  border-radius: 500px;
  -webkit-transform: rotate(-65.1deg);
          transform: rotate(-65.1deg); }
  @media screen and (max-width: 900px) {
    .item__yellow-big {
      border: none; } }

.item__purple-small {
  width: 45px;
  height: 17px;
  right: 35%;
  top: 514px;
  border: 2px solid #bc04fc;
  position: absolute;
  opacity: 0.5;
  border-radius: 500px;
  -webkit-transform: rotate(-65.1deg);
          transform: rotate(-65.1deg); }
  @media screen and (max-width: 676px) {
    .item__purple-small {
      top: 640px; } }

.item__green-big {
  width: 143px;
  height: 56px;
  right: 16%;
  top: 130px;
  border: 5px solid #03d542;
  position: absolute;
  opacity: 0.5;
  border-radius: 500px;
  -webkit-transform: rotate(-65.1deg);
          transform: rotate(-65.1deg); }
  @media screen and (max-width: 1300px) {
    .item__green-big {
      top: 100px; } }

.checkbox {
  display: none; }
  .checkbox:checked ~ .header > .container > .header__top > .header__mobile-menu {
    position: absolute;
    top: 0;
    left: -30px;
    right: -30px;
    opacity: 1;
    border-radius: 0 0 0 200px;
    /*z-index: 1;*/
    height: 700px;
    background: linear-gradient(-45deg, #020024 0%, #090979 45%, #00d4ff 100%); }
  .checkbox:checked ~ .header {
    background-color: rgba(0, 212, 255, 0.3); }
  .checkbox:checked ~ .header > .container > .header__top > .header__nav {
    font-size: 20px;
    z-index: 1;
    display: block;
    top: 60px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%); }
  .checkbox:checked ~ .header > .container > .header__top > .header__nav > .nav__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    text-align: center; }
  .checkbox:checked ~ .header > .container > .header__top > .header__toggler {
    padding: 1px;
    position: absolute; }
  .checkbox:checked ~ .header > .container > .header__top > .header__toggler > .header__toggler-item:first-of-type {
    display: none; }
  .checkbox:checked ~ .header > .container > .header__top > .header__toggler > .header__toggler-item:nth-of-type(2) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute; }
  .checkbox:checked ~ .header > .container > .header__top > .header__toggler > .header__toggler-item:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: absolute; }

.container {
  position: relative;
  max-width: 1150px;
  height: 100%;
  margin: 0 auto; }
  .container--aproach {
    max-width: 950px;
    background: #ff9c8e;
    padding: 204px;
    margin: 0 auto;
    border-radius: 200px 0 0 200px; }
    .container--aproach::after {
      content: "";
      position: absolute;
      background: #ff9c8e;
      top: 0;
      bottom: 0;
      right: 0;
      left: 50%;
      z-index: -1; }

@media screen and (max-width: 1200px) {
  .container--aproach {
    padding: 130px 70px 100px;
    margin-left: 30px; } }

@media screen and (max-width: 700px) {
  .container--aproach {
    padding: 150px 80px 30px;
    margin: 0; } }

@media screen and (max-width: 500px) {
  .container--aproach {
    border-radius: 100px;
    padding: 100px 30px 30px; } }

body {
  background: rgba(229, 229, 229, 0.5); }

html {
  min-width: 320px; }

/*# sourceMappingURL=main.css.map */
